@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

select,input,textarea{
  border:1px solid black;
  border-radius:4px;
}
*{
  font-family: outfit;
}
.active{
  background-color: rgb(24, 23, 23);
  color:white
}